<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--TenantInfo-->
    <add key="SharePointAdminUrl" value="" />
    <!--<add key="SharePointAdminUrl" value="https://longgod-admin.sharepoint.com/" />-->

    <!--AppOnly use-->
    <add key="Authority" value="https://login.microsoftonline.com/common" />
    <add key="ClientId" value="eff3fc70-582d-45d5-8cf8-f35d703b9b86" />
    <!--New-->
    <!--<add key="ClientId" value="45d6d2e3-f4c2-4af3-9d50-79129c7e3645" /> -->
    <!--Old-->
    <add key="RedirectURL" value="https://localhost:10000" />
    <add key="ExtraQuery" value="site_id=501358&amp;display=popup" />
    <add key="GraphUri" value="https://graph.microsoft.com" />

    <!--<add key="Authority" value="https://login.microsoftonline.com/common" />
    <add key="RedirectURL" value="https://localhost:10000" />
    <add key="ExtraQuery" value="site_id=501358&amp;display=popup" />
    <add key="GraphUri" value="https://graph.microsoft.com" />-->

    <!--Proxy-->
    <add key="EnableProxy" value="false" />
    <!--Type: bool, True: Enable proxy, False: Disable proxy-->
    <add key="ProxyAddress" value="127.0.0.1" />
    <add key="ProxyPort" value="8888" />
    <!--Type: int-->
    <add key="ProxyUserName" value="" />
    <add key="ProxyPassword" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>